<a href="https://github.com/GutenYe/example-ember-with-middleman"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>

<section id="todoapp">
	{{outlet}}
</section>

<footer id="info">
	<p>Double-click to edit a todo</p>
	<p>
		Created by
		<a href="http://github.com/tomdale">Tom Dale</a>,
		<a href="http://github.com/addyosmani">Addy Osmani</a>,
		<a href="http://todomvc.com">TodoMVC</a>
	</p>
	<p>Part of <a href="http://github.com/GutenYe/example-ember-with-middleman">example-ember-with-middleman</a></p>
</footer>
