<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Ember.js @ Middleman</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
	<!--[if IE]>
  <%= javascript_include_tag "ie" %>
	<![endif]-->
</head>
<body>
	<!-- /* Handlebars templates start */ -->
	<script id="statsTemplate" type="text/x-handlebars">
		{{#with view}}
			{{#if oneLeft }}
				<strong>{{entries.remaining}}</strong> item left
			{{else}}
				<strong>{{entries.remaining}}</strong> items left
			{{/if}}
		{{/with}}
	</script>
	<script id="filtersTemplate" type="text/x-handlebars">
		<ul id="filters">
			<li>
				<a {{action showAll href=true}} {{bindAttr class="view.isAll:selected"}}>All</a>
			</li>
			<li>
				<a {{action showActive href=true}} {{bindAttr class="view.isActive:selected"}}>Active</a>
			</li>
			<li>
				<a {{action showCompleted href=true}} {{bindAttr class="view.isCompleted:selected"}}>Completed</a>
			</li>
		</ul>
	</script>
	<script id="clearBtnTemplate" type="text/x-handlebars">
		{{#with view}}
			<button {{action "clearCompleted" target="entries"}} {{bindAttr class="buttonClass:hidden"}} >
				Clear completed ({{entries.completed}})
			</button>
		{{/with}}
	</script>
	<script id="todosTemplate" type="text/x-handlebars">
		{{#unless view.content.editing}}
			{{view Ember.Checkbox checkedBinding="view.content.completed" class="toggle"}}
			<label>{{view.content.title}}</label>
			<button {{action removeItem target="this"}} class="destroy" ></button>
		{{else}}
			{{view view.ItemEditorView contentBinding="view.content"}}
		{{/unless}}
	</script>

  <%= javascript_include_tag "application" %>
</body>
</html>
